.btn{
    cursor: pointer;
    height: 41px;
    margin-right: 2px;
    background-color: #673ab7;
    border-radius: 9px;
    color: #fff;
    border: none;
    transition: 1s;
}

.btn:hover{
    background-color: #513483;
}

.mat-form-field{
    margin-right: 30px;
}